@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --soft-black: #191919;
  --black-hover: #444444;
  --black-hover-2: #818181;
  --gray: #f2f2f2;
  --primary: #ffcc00;
  /* Fonts & Typography */
  --font: "Noto Sans JP", "Verdana", sans-serif;
  --font-size-default: 1.45rem;
  --font-weight-default: 400;
  --font-weight-bold: 800;
  --font-weight-bolder: 900;
  --line-height-default: 1.5;
  /* Length values */
  --max-width: 100%;
  --indent-default: 16px;
  /* Other values */
  --transition: 300ms ease-in-out;
  --transition-fast: 150ms ease-in-out;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font);
  color: var(--black);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--indent-default);
}

.text-block {
  padding: var(--indent-default);
  display: flex;
  flex-direction: column;
  gap: var(--indent-default);
}

.button {
  width: fit-content;
  background-color: var(--black);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-default);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color var(--transition-fast);
}

.button:hover {
  background-color: var(--black-hover);
}

/* 
==============================
  HEADER
==============================
*/
header {
  height: 56px;
  width: 100%;
  background-color: var(--primary);
}

.header__container {
  height: inherit;
}

.logo {
  width: 56px;
  height: 56px;
}

/* 
==============================
  MAIN
==============================
*/
section + section {
  margin-block-start: calc(var(--indent-default) * 2);
}

/* banner */
.banner__image {
  width: 100%;
  height: 135px;
}

.banner__image picture {
  width: 100%;
  height: 100%;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.banner__cta h1 {
  font-size: 19.5px;
  font-weight: var(--font-weight-bolder);
  line-height: 30px;
  letter-spacing: 0.2px;
}
/* end banner */

/* under banner text */
.under__banner-text a {
  margin-block-start: calc(var(--indent-default) * 1.2);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  transition: color var(--transition);
}

.under__banner-text a:hover {
  color: var(--black-hover-2);
}
/* end under banner text */

/* information */
.information {
  background-color: var(--soft-black);
  color: var(--white);
  padding-block: calc(var(--indent-default) * 3);
}

.information__container {
}

.information__container h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--indent-default) / 2);
}

.information__articles {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent-default) * 2);
}

.information__image {
}

.information__txt {
}

.information__txt h3 {
  font-size: 19px;
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--indent-default) / 3);
}

.information__txt a {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  margin-block-start: var(--indent-default);
}
/* end information */

/* 
==============================
FOOTER
==============================
*/

/* 
==============================
  MEDIA QUERIES
==============================
*/
@media (min-width: 600px) {
  .banner__image {
    height: 185px;
  }
}

@media (min-width: 760px) {
  :root {
    --max-width: 720px;
  }

  .wrapper {
    padding-inline: 0;
  }

  .banner__section {
    width: var(--max-width);
    margin-inline: auto;
    position: relative;
  }

  .banner__image {
    height: 288px;
  }

  .banner__image::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8632703081232493) 0%,
      rgba(255, 255, 255, 0.7456232492997199) 17%,
      rgba(255, 255, 255, 0.6475840336134453) 32%,
      rgba(255, 255, 255, 0.11257002801120453) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 0;
  }

  .banner__cta {
    width: 55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--indent-default) * 2);
  }

  .banner__cta h1 {
    font-size: 26px;
    font-weight: var(--font-weight-bold);
    line-height: 34px;
  }
}

@media (min-width: 993px) {
  :root {
    --max-width: 960px;
  }

  header {
    height: 64px;
  }

  .logo {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1200px) {
  :root {
    --max-width: 1140px;
  }

  .banner__image {
    height: 310px;
  }

  .banner__cta {
    width: 35%;
  }
}
