@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --soft-black: #191919;
  --black-hover: #444444;
  --black-hover-2: #818181;
  --gray: #f2f2f2;
  --gray-2: #c4c4c4;
  --primary: #ffcc00;
  /* Fonts & Typography */
  --font: "Noto Sans JP", "Verdana", sans-serif;
  --font-size-default: 1.45rem;
  --font-weight-default: 400;
  --font-weight-bold: 800;
  --font-weight-bolder: 900;
  --line-height-default: 1.5;
  /* Length values */
  --max-width: 100%;
  --indent-default: 16px;
  /* Other values */
  --transition: 300ms ease-in-out;
  --transition-fast: 150ms ease-in-out;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font);
  color: var(--black);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--indent-default);
}

.text-block {
  padding: var(--indent-default);
  display: flex;
  flex-direction: column;
  gap: var(--indent-default);
}

.button {
  width: fit-content;
  background-color: var(--black);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-default);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color var(--transition-fast);
}

.button:hover {
  background-color: var(--black-hover);
}

.h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--indent-default) / 2);
}

.h3 {
  font-size: 21px;
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--indent-default) / 1.5);
}

.h4 {
  font-size: 19px;
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--indent-default) / 3);
}

.link__button {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  transition: color var(--transition);
}

.link__button:hover {
  color: var(--black-hover-2);
}

/* 
==============================
  HEADER
==============================
*/
header {
  height: 56px;
  width: 100%;
  background-color: var(--primary);
}

.header__container {
  height: inherit;
}

.logo {
  width: 56px;
  height: 56px;
}

/* 
==============================
  MAIN
==============================
*/
section + section {
  margin-block-start: calc(var(--indent-default) * 2);
}

/* banner */
.banner__image {
  width: 100%;
  height: 135px;
}

.banner__image picture {
  width: 100%;
  height: 100%;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.banner__cta h1 {
  font-size: 19.5px;
  font-weight: var(--font-weight-bolder);
  line-height: 30px;
  letter-spacing: 0.2px;
}
/* end banner */

/* under banner text */
.under__banner-text a {
  margin-block-start: calc(var(--indent-default) * 1.2);
}
/* end under banner text */

/* information */
.information {
  background-color: var(--soft-black);
  color: var(--white);
  padding-block: calc(var(--indent-default) * 3);
}

.information__articles {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent-default) * 3);
}

.information__articles article {
  display: flex;
  gap: calc((var(--indent-default) / 1.2));
}

.information__image {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}

.information__txt a {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  margin-block-start: var(--indent-default);
  position: relative;
  display: inline-flex;
  align-items: center;
}

.information__txt a::after {
  content: "";
  position: absolute;
  right: -1.5rem;
  bottom: 5px;
  border: medium solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
}
/* end information */

/* find */
.find__articles {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent-default) * 3);
}

.find__articles img {
  margin-block-end: var(--indent-default);
}

.find__articles a {
  margin-block-start: var(--indent-default);
}
/* end find */

/* six cards */
.six__cards {
  background-color: var(--gray);
}

.six__cards-container {
  padding-block: calc(var(--indent-default) * 2);
}

.cards__container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent-default) * 3);
}

.top__cards {
  margin-block-end: calc(var(--indent-default) * 2);
}

.six__cards-content {
  display: flex;
  align-items: flex-start;
  gap: calc(var(--indent-default) * 2);
}

.six__cards-text {
  flex: 50%;
}

.six__cards-text a {
  margin-block-start: calc(var(--indent-default) * 1.5);
}

.six__cards-image {
  flex: 50%;
}

.bottom__cards {
  border-block-start: thin solid var(--gray-2);
  padding-block-start: calc(var(--indent-default) * 2);
}

.bottom__cards article:not(:last-child) {
  display: flex;
  align-items: flex-start;
  gap: var(--indent-default);
}

.bottom__card-text {
  flex: 65%;
}

.bottom__card-text a {
  margin-block-start: var(--indent-default);
  font-weight: var(--font-weight-bold);
  transition: color var(--transition-fast);
  position: relative;
}

.bottom__card-text a:hover {
  color: var(--black-hover-2);
}

.bottom__card-text a::after {
  content: "";
  position: absolute;
  margin-inline-start: 6px;
  bottom: 5px;
  border: medium solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
}

.bottom__card-image {
  flex: 35%;
}

.bottom__cards article:last-child p:first-of-type {
  font-weight: var(--font-weight-bold);
  margin-block-end: var(--indent-default);
}

.bottom__cards article:last-child p:last-of-type a {
  text-decoration: underline;
  transition: color var(--transition-fast);
}

.bottom__cards article:last-child p:last-of-type a:hover {
  color: var(--black-hover-2);
}
/* end six cards */

/* 
==============================
FOOTER
==============================
*/
footer {
  padding-block: calc(var(--indent-default) * 2);
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent-default) * 3);
}

.footer__top li + li {
  margin-block-start: calc(var(--indent-default) / 2);
}

.footer__top a {
  position: relative;
  padding-inline-start: 16px;
  transition: all var(--transition-fast);
}

.footer__top a:hover {
  text-decoration: underline;
  color: var(--black-hover-2);
}

.footer__top a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  border: medium solid var(--black);
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.footer__bottom {
  margin-block-start: calc(var(--indent-default) * 4);
  padding-block-start: var(--indent-default);
  border-block-start: thin solid var(--gray-2);
}

.footer__bottom-left {
}
.footer__bottom-right {
}
.footer__logo {
}

/* 
==============================
  MEDIA QUERIES
==============================
*/
@media (min-width: 600px) {
  .banner__image {
    height: 185px;
  }
}

@media (min-width: 670px) {
  .find__articles {
    width: 100%;
    flex-direction: row;
    gap: calc(var(--indent-default) * 2);
  }

  .find__articles article {
    width: 50%;
  }

  .cards__container {
    flex-direction: row;
    gap: var(--indent-default);
  }

  .cards__container article {
    width: calc(100% / 3);
  }

  .six__cards-text {
    flex: 65%;
  }

  .six__cards-image {
    flex: 35%;
  }

  .six__cards-content {
    gap: var(--indent-default);
  }
}

@media (min-width: 760px) {
  :root {
    --max-width: 720px;
  }

  .wrapper {
    padding-inline: 0;
  }

  .h2 {
    margin-block-end: calc(var(--indent-default) * 1.5);
  }

  .banner__section {
    width: var(--max-width);
    margin-inline: auto;
    position: relative;
  }

  .banner__image {
    height: 288px;
  }

  .banner__image::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8632703081232493) 0%,
      rgba(255, 255, 255, 0.7456232492997199) 17%,
      rgba(255, 255, 255, 0.6475840336134453) 32%,
      rgba(255, 255, 255, 0.11257002801120453) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 0;
  }

  .banner__cta {
    width: 55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--indent-default) * 2);
  }

  .banner__cta h1 {
    font-size: 26px;
    font-weight: var(--font-weight-bold);
    line-height: 34px;
  }

  .information__articles {
    flex-direction: row;
  }
}

@media (min-width: 993px) {
  :root {
    --max-width: 960px;
  }

  .h2 {
    font-size: 28px;
  }

  .h4 {
    font-size: 22px;
  }

  header {
    height: 64px;
  }

  .logo {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1200px) {
  :root {
    --max-width: 1140px;
  }

  .h2 {
    font-size: 30px;
  }

  section + section {
    margin-block-start: calc(var(--indent-default) * 3);
  }

  .banner__image {
    height: 310px;
  }

  .banner__cta {
    width: 25%;
  }

  .find__articles {
    justify-content: space-around;
  }

  .find__articles article {
    width: 35%;
  }

  .six__cards-container {
    padding-block: calc(var(--indent-default) * 3);
  }

  .cards__container {
    gap: calc(var(--indent-default) * 3);
  }

  .top__cards {
    margin-block-end: calc(var(--indent-default) * 3);
  }

  .bottom__cards {
    padding-block-start: calc(var(--indent-default) * 3);
  }
}
